<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gifted Brainz | Dashboard</title>
        <link rel="stylesheet" href="/css/output.css">
        <link rel="stylesheet" href="/css/Dashboard.css">
        <link rel="stylesheet" href="/css/MainDashboard.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="/css/Sidebar.css">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/Gifted-Brainz-PNG (1).png">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>


<body>
    <section class="flex dash-section">
        <div class="side">
            <%-include('MainDashboard')%>
        </div>
        <main>
            <div class="dashboard-main-top">
                 <h1>Dashboard</h1>
                 <!-- <div class="input-bar">
                     
                     <div class="profile-picture">
                         <img src="../images/Frame 12.png" alt="profile-picture">
                     </div>
                 </div> -->
            </div>
            <div class="user">
                 <h1>WELCOME, <%= userData.name %></h1>
            </div>
 
 
            <div class="airtime-area">
                 <div class="blue">
                     <p>Total Earnings</p>
                     <h1># <%= userData.totalEarnings %></h1>
                 </div>
                 <div class="green">
                     <p>Total Points</p>
                     <h1>
                        <% if(userData.totalPoints) { %>
                            <%=userData.totalPoints%>
                        <% }else{ %>
                        0
                        <%}%>
                        <sub>SQP</sub>
                     </h1>
                 </div>
                 <div class="orange">
                     <p>Referrals Earnings</p>
                     <h1>
                        #
                        <% if(userData.referralCommission) { %>
                            <%=userData.referralCommission%>
                            <% }else{ %>
                                0
                            <%}%>
                     </h1>
                 </div>
            </div>
 
            <div class="airtime-area">
                 
            
             </div>
 
            <div class="history">
                 <h1>ALL HISTORY</h1>
            </div>
 
            <div class="history-table">
                 <table>
                     <div>
                         <tr>
                             <th>Task</th>
                             <th>Total Answered</th>
                             <th>Points</th>
                         </tr>
                         <tr>
                             <td class="bundle"><img src="../images/tabler-icon-access-point.png" alt=""> what is UI/UX Design</td>
                             <td>15</td>
                             <td>20pts</td>
                         </tr>
                         <tr>
                             <td class="bundle"><img src="../images/tabler-icon-id.png" alt=""> principle of design</td>
                             <td>15</td>
                             <td>20pts</td>
                         </tr>
                         <tr>
                             <td class="bundle"><img src="../images/tabler-icon-access-point.png" alt=""> interaction design</td>
                             <td>15</td>
                             <td>20pts</td>
                         </tr>
                         <tr>
                             <td class="bundle"><img src="../images/tabler-icon-id.png" alt=""> user research</td>
                             <td>15</td>
                             <td>20pts</td>
                         </tr>
                         <tr>
                             <td class="bundle"><img src="../images/tabler-icon-access-point.png" alt=""> prototype</td>
                             <td>15</td>
                             <td>20pts</td>
                         </tr>
                     </div>
                 </table>
            </div>
         </main>
    
    </section>
</body>
</html>